.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #effbfd;
    position:relative;
    height: 4rem;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar li {
    margin-right: 10px;
}

.navbar a {
    text-decoration: none;
    color: #333;
    padding: 5px;
}

.navbar a:hover {
    color: #666;
}